.img{
  width: 100%;  
  height: 300px;  
  opacity: 0.3;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
font-size: 2em;
font-family:Arial, Helvetica, sans-serif;
color: black;
background-color: rgb(254, 252, 250);
}  
button{
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #0a0a0a;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
} 
.text{
  font: size 2em;;
}
.image{ 
  width: 100%;
  height: 150px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.table{
  width:50%;
  background-color: #c8d8e4;
}
.center{
  width: 100%;
  height: 560px;
  opacity: 2;
}
.centered1{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.t{
  align-items: baseline;
  padding: 20px;
  background-color:#c8d8e4;
  width: 600px;
  height: 30px;
  margin-top: 2%;
  margin-bottom:2%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}
.btn:hover {
  opacity: 0.4;
}
.text_area{
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
}

.text_input{
  margin-top: 1.2rem;
  font-family: 'Montserrat regular';
  font-size: 20px;
  border: none;
  width: 70%;
}
img{
width: 20%;
}
.buttons1{
margin-top: 28px;
width: 165px;
height: 60px;
border-radius: 30px;
background: red;
border: none;
font-family: 'Montserrat';
font-size: 20px;
color:black;
cursor: pointer;
}
.buttons2{
margin-top: 28px;
width: 165px;
height: 60px;
border-radius: 30px;
background:yellow;
border: none;
font-family: 'Montserrat';
font-size: 20px;
color: black;
cursor: pointer;
}
.buttons3{
margin-top: 28px;
width: 165px;
height: 60px;
border-radius: 30px;
background: lightgreen;
border: none;
font-family: 'Montserrat';
font-size: 20px;
color: black;
cursor: pointer;
}
.tb{
border-collapse: separate;
border-spacing: 250px 0;
}
.col{
padding: 40px 0;
}
.square{
height:10px;
width: 10px;
background-color: red;
}
.square1{

height:10px;
width: 10px;
background-color: yellow;
}

.square2{
height:10px;
width: 10px;
background-color: lightgreen;
}
/* .road{
  width: 1520px;
  height: 250px;
}
.c1{
  background-color:bisque;
}
.c2{
  background-color: aquamarine;
}
.img1{
  height: 300px;
  width: 500px;
  opacity: 100;
}
.img2{
  position:cover;
  width: 1000px;
} */